@import "tailwindcss";
@import "./lib/theme/theme.css";

:root {
	font-family: var(--font-poppins);
	background-color: var(--color-beige-500);
}

body {
	display: flex;
	flex-direction: column;
	place-items: center;
	margin: auto;
}

#root {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	place-items: center;
}
